<div>
    <h2>
        <span jhiTranslate="jHipsterBlogApp.post.home.title">Posts</span>
        <button *jhiHasAnyAuthority="['ROLE_AUTHOR', 'ROLE_ADMIN']" class="btn btn-primary float-right jh-create-entity create-post-my-suffix" [routerLink]="['/', { outlets: { popup: ['post-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jHipsterBlogApp.post.home.createLabel">
            Create new Post
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jHipsterBlogApp.post.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="posts">
        <div  infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0" >
            <div class="card card-item" *ngFor="let post of posts">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">
                        {{post.bodyText}}
                    </p>
                    <p class="card-text"><small class="text-muted">Author: {{post.authorLogin}}</small></p>
                </div>
                <div class="card-footer bg-transparent">
                    Assets
                    <div *ngIf="!post.assets || post.assets.length == 0">
                        <p><small>No assets</small></p>
                    </div>
                    <!--<div *ngIf="post.assets">-->
                        <!--<ul class="list-unstyled" *ngFor="let asset of post.assets">-->
                            <!--<li class="media">-->
                                <!--<img class="mr-1" src="asset" style="width: 20px" alt="Generic placeholder image">-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                </div>
                <div class="card-footer bg-transparent">
                    <span>Comments</span>
                    <br/>
                    <br/>

                    <div *ngIf="!post.commentaries || post.commentaries.length == 0">
                        <p><small>No comments</small></p>
                    </div>
                    <div *ngIf="post.commentaries">
                        <ul class="list-unstyled" *ngFor="let comment of post.commentaries">
                            <li class="media">
                                <img class="mr-1" src="../../../content/images/logo-jhipster.png" style="width: 20px" alt="Generic placeholder image">
                                <div class="media-body">
                                    <p class="mt-0">{{comment.authorLogin}}</p>
                                    <p><small>{{comment.text}}</small></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div *jhiHasAnyAuthority="['ROLE_USER','ROLE_AUTHOR', 'ROLE_ADMIN']" class="card-footer bg-transparent">
                    <div class="row">
                        <div class="col-sm-12">
                            <form name="searchForm" class="form-inline">
                                <div class="input-group w-100 mt-3">
                                    <input type="text" class="form-control" name="title" #comment id="field_comment" placeholder="Comment" required>
                                    <button class="input-group-append btn btn-info" (click)="submitComment(comment.value, post)">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
