<div>
    <h2>
        <span jhiTranslate="jHipsterBlogApp.post.home.title">Posts</span>
        <button *jhiHasAnyAuthority="'ROLE_USER'" class="btn btn-primary float-right jh-create-entity create-post-my-suffix" [routerLink]="['/', { outlets: { popup: ['post-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jHipsterBlogApp.post.home.createLabel">
            Create new Post
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jHipsterBlogApp.post.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="posts">
        <div  infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0" >
            <div class="card card-item" *ngFor="let post of posts">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p class="card-text"><small class="text-muted">Author: Lorem</small></p>
                </div>
                <div class="card-footer bg-transparent">
                    Assets
                </div>
                <div class="card-footer bg-transparent">

                    <ul class="list-unstyled" *ngFor="let comment of commentaries">
                        <li class="media">
                            <img class="mr-1" src="../../../content/images/logo-jhipster.png" style="width: 20px" alt="Generic placeholder image">
                            <div class="media-body">
                                <p class="mt-0">{{comment.author}}</p>
                                <p><small>{{comment.text}}</small></p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div *jhiHasAnyAuthority="'ROLE_USER'" class="card-footer bg-transparent">
                    <a href="#" class="btn btn-toolbar" *ngIf="!inputComment" (click)="showInputComment()"><span class="oi oi-plus"></span> Comment</a>
                    <div class="row" *ngIf="inputComment">
                        <div class="col-sm-12">
                            <form name="searchForm" class="form-inline">
                                <div class="input-group w-100 mt-3">
                                    <input type="text" class="form-control" name="title" id="field_comment" placeholder="Comment" required>
                                    <button class="input-group-append btn btn-info" (click)="showInputComment()">
                                        <span class="fa fa-times"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
