<div>
    <h2>
        <span jhiTranslate="jHipsterBlogApp.post.home.title">Posts</span>
        <button *jhiHasAnyAuthority="['ROLE_AUTHOR', 'ROLE_ADMIN']" class="btn btn-primary float-right jh-create-entity create-post-my-suffix" [routerLink]="['/', { outlets: { popup: ['post-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="jHipsterBlogApp.post.home.createLabel">
            Create new Post
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'jHipsterBlogApp.post.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="posts">
        <div  infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0" >
            <div class="card card-item" *ngFor="let post of posts">
                <div class="card-body">
                    <h6 class="card-title text-center">{{post.title}}</h6>
                    <p class="post-body text-center"><small>{{post.bodyText}}</small></p>
                    <blockquote class="blockquote">
                        <footer class="blockquote-footer"><small>{{post.authorLogin}}</small></footer>
                    </blockquote>
                </div>
                <div class="card-footer bg-transparent">
                    <h6 class=" text-center">Assets</h6>
                    <div class="text-center" *ngIf="!post.assets || post.assets.length == 0">
                        <p><small>No assets</small></p>
                    </div>
                    <div *ngIf="post.assets" class="row">
                        <div class="col-sm-3" *ngFor="let asset of post.assets">
                            <div *ngIf="asset.fileType === 'image/jpeg' || asset.fileType === 'image/png'">
                                <img class="mr-1" [src]="asset.imagePath" style="max-height: 150px;" alt="photo image"/>
                            </div>

                            <div *ngIf="asset.fileType === 'video/mp4'">
                                <video width="300" controls>
                                    <source class="mr-1" [src]="asset.imagePath" [type]="asset.fileType">Your browser does not support HTML5 video.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer bg-transparent">
                    <span class="text-center"><h6>Comments</h6></span>

                    <div *ngIf="!post.commentaries || post.commentaries.length == 0">
                        <p class="post-body  text-center"><small>No comments</small></p>
                    </div>
                    <div *ngIf="post.commentaries">
                        <ul class="list-unstyled" *ngFor="let comment of post.commentaries">
                            <li class="media">
                                <img class="mr-1" src="../../../content/images/logo-jhipster.png" style="width: 20px" alt="Generic placeholder image">
                                <div class="media-body">
                                    <p class="mt-0"><b>{{comment.authorLogin}}</b></p>
                                    <p><small>{{comment.text}}</small></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div *jhiHasAnyAuthority="['ROLE_USER','ROLE_AUTHOR', 'ROLE_ADMIN']" class="card-footer bg-transparent">
                    <div class="row">
                        <div class="col-sm-12">
                            <form name="searchForm" class="form-inline">
                                <div class="input-group w-100 mt-3">
                                    <input type="text" class="form-control" name="title" #comment id="field_comment" placeholder="Comment" required>
                                    <button class="input-group-append btn btn-info" (click)="submitComment(comment.value, post)">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
